* {
  box-sizing; border-box;
  margin: 0;
}

html {
  background-color: #c9cdc7;
  color: 	#364345;
  font-family: 'Lato', sans-serif;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  font-family: Merriweather, serif;
  background-color: #84b4c0;
  padding: 1em;
  font-size: 24px;
  text-align: center;
  line-height: .5;
  font-weight: 200;
  margin: 2em;
  border-style: solid;
  border-color: #3a6e7c;
  border-radius: 20px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  padding: 30px;
  line-height: 2;
}

aside {
  font-family: 'Lato', sans-serif;
  font size: 20px;
  text-align: center;
  margin: 1rem;
}
